wres-config/nonsrc/ProjectConfig.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.1"
           elementFormDefault="qualified">

    <xs:simpleType name="datasourceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ensemble forecasts" />
            <xs:enumeration value="simple forecasts" />
            <xs:enumeration value="observations" />
            <xs:enumeration value="assimilations" />
            <xs:enumeration value="model outputs" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="format">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PI-XML" />
            <xs:enumeration value="netCDF" />
            <xs:enumeration value="datacard" />
            <xs:enumeration value="archive" />
            <xs:enumeration value="all" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ensembleCondition">
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="member_id" type="xs:string" />
        <xs:attribute name="qualifier" type="xs:string" />
        <xs:attribute name="exclude" type="xs:boolean" default="false" />
    </xs:complexType>

    <xs:complexType name="conditions">
        <xs:sequence>
            <xs:element name="dates" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <!-- xs:dateTime ends up being yucky XMLGregorianCalendar. Use string, let app deal with it. -->
                    <xs:attribute name="earliest" type="xs:string" />
                    <xs:attribute name="latest" type="xs:string" />
                </xs:complexType>
            </xs:element>
            <xs:element name="issuedDates" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="earliest" type="xs:string" />
                    <xs:attribute name="latest" type="xs:string" />
                </xs:complexType>
            </xs:element>
            <!-- values min and max will take from the pair target unit? -->
            <xs:element name="values" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="minimum" type="xs:double" />
                    <xs:attribute name="maximum" type="xs:double" />
                </xs:complexType>
            </xs:element>

            <xs:element name="feature" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="polygon" type="polygon"/>
                        <xs:element name="point" type="coordinate"/>
                        <xs:element name="location" type="location"/>
                        <xs:element name="index" type="variableIndex" />
                    </xs:choice>
                    <xs:attribute name="label" type="xs:string" />
                    <xs:attribute name="exclude" type="xs:boolean" default="false" />
                </xs:complexType>
            </xs:element>

            <!-- idea here is mask is a WKT, or optionally a filename,
                 so you could do either:
                 <mask file="file:///my/file.shp" />
                 OR
                 <mask>poly( whatever well-known-text )</mask> -->
            <xs:element name="mask" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="file" type="xs:anyURI" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="firstLead" type="xs:int" default="1"/>
        <xs:attribute name="lastLead" type="xs:int" default="2147483647" />
    </xs:complexType>

    <xs:complexType name="location">
        <xs:attribute name="lid" type="xs:string" />
        <xs:attribute name="comid" type="xs:long" />
        <xs:attribute name="gage_id" type="xs:string" />
        <xs:attribute name="huc" type="xs:string" />
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="coordinate">
        <xs:attribute name="x" type="xs:double" />
        <xs:attribute name="y" type="xs:double" />
    </xs:complexType>

    <xs:complexType name="polygon">
        <xs:sequence>
            <xs:element name="point" type="coordinate" minOccurs="3" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="variableIndex">
        <xs:attribute name="x" type="xs:int" />
        <xs:attribute name="y" type="xs:int" />
    </xs:complexType>

    <xs:complexType name="datasource">

        <!-- for class naming using xjc-->
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="DataSourceConfig" />
            </xs:appinfo>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="type" type="datasourceType" />

            <xs:element name="source" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:anyURI">
                            <xs:attribute name="format" type="format" />
                            <xs:attribute name="unit" type="xs:string" default="" />
                            <xs:attribute name="location" type="xs:string" default="" />
                            <xs:attribute name="zoneOffset" type="xs:string" default="0" />
                            <xs:attribute name="timeZone" type="timeZone" default="UTC" />
                            <xs:attribute name="missingValue" type="xs:string" default="-999.0" />
                            <xs:attribute name="all" type="xs:boolean" default="false"/>
                            <xs:attribute name="recursive" type="xs:boolean" default="false" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="variable">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="label" type="xs:string" />
                            <xs:attribute name="unit" type="xs:string" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="ensemble" type="ensembleCondition" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="arbitraryFunctionToApplyToValues" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="timeShift" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="width" type="duration" />
                        <xs:element name="direction" type="direction" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rollingTimeAggregation" type="timeAggregation" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>

        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>

    <xs:simpleType name="direction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="backward" />
            <xs:enumeration value="forward" />
        </xs:restriction>
    </xs:simpleType>

    <!-- There is a mapping between these names and the enum in MetricConstants.
         For now, these two lists must be periodically synchronized manually.-->
    <xs:simpleType name="metricConfigName">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIAS_FRACTION" />
            <xs:enumeration value="BRIER_SCORE" />
            <xs:enumeration value="BRIER_SKILL_SCORE" />
            <xs:enumeration value="COEFFICIENT_OF_DETERMINATION" />
            <xs:enumeration value="CONTINGENCY_TABLE" />
            <xs:enumeration value="CORRELATION_PEARSONS" />
            <xs:enumeration value="CRITICAL_SUCCESS_INDEX" />
            <xs:enumeration value="EQUITABLE_THREAT_SCORE" />
            <xs:enumeration value="MEAN_ABSOLUTE_ERROR" />
            <xs:enumeration value="MEAN_CONTINUOUS_RANKED_PROBABILITY_SKILL_SCORE" />
            <xs:enumeration value="MEAN_ERROR" />
            <xs:enumeration value="MEAN_SQUARE_ERROR" />
            <xs:enumeration value="MEAN_SQUARE_ERROR_SKILL_SCORE" />
            <xs:enumeration value="PEIRCE_SKILL_SCORE" />
            <xs:enumeration value="PROBABILITY_OF_DETECTION" />
            <xs:enumeration value="PROBABILITY_OF_FALSE_DETECTION" />
            <xs:enumeration value="RELATIVE_OPERATING_CHARACTERISTIC" />
            <xs:enumeration value="RELIABILITY_DIAGRAM" />
            <xs:enumeration value="ROOT_MEAN_SQUARE_ERROR" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="metric">

        <!-- for class naming using xjc-->
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="MetricConfig" />
            </xs:appinfo>
        </xs:annotation>

        <xs:simpleContent>
            <xs:extension base="metricConfigName">
                <xs:attribute name="label" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="destinationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="numeric" />
            <xs:enumeration value="graphic" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Possibilities for the graphical plotType element. -->
    <xs:simpleType name="plotTypeSelection">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LEAD_THRESHOLD" />
            <xs:enumeration value="THRESHOLD_LEAD" />
            <xs:enumeration value="SINGLE_VALUED_PAIRS" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Element to store options related to generating graphics. -->
    <xs:complexType name="graphicalType">

        <xs:sequence>
            <!-- Specifies the type of the plot.  Is required. -->
            <xs:element name="plotType" type="plotTypeSelection" minOccurs="1" maxOccurs="1"/>
            
            <!-- Specifies the override chart drawing parameters.  Will be processed as a String and passed to 
            charting tool so it can parse it.  Hence, the reason it is skipped. -->
            <xs:element name="config" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="skip" namespace="##any" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>

        <!-- Image width. -->
        <xs:attribute name="width" type="xs:int" />
        
        <!-- Image height. -->
        <xs:attribute name="height" type="xs:int" />
        
        <!-- Location of the template file.  Every plot type has a default file.
        This allows for using a user customized file.  When searching for the 
        file it will begin by loading it as a system resource from the lib/conf
        directory and, if it is not found, then as a file on the file system. -->
        <xs:attribute name="template" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="destination">

        <!-- for class naming using xjc-->
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="DestinationConfig" />
            </xs:appinfo>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="path" type="xs:anyURI" />
            <!-- If output type is graphical (a chart)... -->
            <xs:element name="graphical" type="graphicalType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>

        <xs:attribute name="type" type="destinationType" />
    </xs:complexType>

    <xs:simpleType name="timeAggregationFunction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sum" />
            <xs:enumeration value="avg" />
            <xs:enumeration value="max" />
            <xs:enumeration value="min" />
            <xs:enumeration value="median" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="duration">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>
    <xs:simpleType name="durationUnit">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MIN" />
            <xs:enumeration value="HOUR" />
            <xs:enumeration value="DAY" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="timeZone">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UTC"/>
            <xs:enumeration value="GMT"/>
            <xs:enumeration value="EDT"/>
            <xs:enumeration value="EST" />
            <xs:enumeration value="CST" />
            <xs:enumeration value="CDT" />
            <xs:enumeration value="MDT" />
            <xs:enumeration value="MST" />
            <xs:enumeration value="PDT" />
            <xs:enumeration value="PST" />
            <xs:enumeration value="AKDT" />
            <xs:enumeration value="AKST"/>
            <xs:enumeration value="HAST" />
            <xs:enumeration value="HADT" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="timeAggregationMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="back-to-back" />
            <xs:enumeration value="rolling" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="timeAggregation">

        <!-- for class naming using xjc-->
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="TimeAggregationConfig" />
            </xs:appinfo>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="function" type="timeAggregationFunction" default="avg" />
            <xs:element name="period" type="duration" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="frequency" type="duration" minOccurs="0" maxOccurs="1"/>
            <xs:element name="unit" type="durationUnit" default="HOUR" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="mode" type="timeAggregationMode" />
    </xs:complexType>

    <xs:simpleType name="spaceAggregationFunction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="scale" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="spaceAggregation">

        <!-- for class naming using xjc-->
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="SpaceAggregationConfig" />
            </xs:appinfo>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="function" type="spaceAggregationFunction" />
            <xs:element name="parameters" type="xs:string" />
        </xs:sequence>

        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="pair">

        <!-- for class naming using xjc-->
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="PairConfig" />
            </xs:appinfo>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="unit" type="xs:string" />
            <xs:element name="grouping" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="timeAggregation" type="timeAggregation" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="dragons">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="DragonsConfig" />
            </xs:appinfo>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="fullIngest" type="xs:boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="overwriteOldData" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>

    <xs:element name="project">
        <xs:complexType>

            <!-- for class naming using xjc-->
            <xs:annotation>
                <xs:appinfo>
                    <jaxb:class name="ProjectConfig" />
                </xs:appinfo>
            </xs:annotation>

            <xs:sequence>

                <xs:element name="inputs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="left" type="datasource" />
                            <xs:element name="right" type="datasource" />
                            <xs:element name="baseline" type="datasource" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="conditions" type="conditions" minOccurs="0" maxOccurs="1" />

                <xs:element name="pair" type="pair"/>

                <xs:element name="outputs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="metric" type="metric" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="destination" type="destination" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="hereBeDragons" type="dragons" minOccurs="0" maxOccurs="1" />
            </xs:sequence>

            <xs:attribute name="label" type="xs:string" />

        </xs:complexType>
    </xs:element>

</xs:schema>
